{% extends "base_generic.html" %}

{% block content %}

<div id="session" class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Cambio de contraseña</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% load static %}
                                <img src="{% static 'mdelqq.png' %}" alt="MDELQ2" height="475">
                            </div>
                            <div class="col-md-6">
                                <div class="container">
                                    <br><br><br><br><br><br>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="old_password">Contraseña actual</label>
                                            <input type="password" class="form-control" id="old_password"
                                                name="old_password" placeholder="Contraseña antigua">
                                        </div>
                                        <div class="form-group">
                                            <label for="new_password1">Nueva contraseña</label>
                                            <input type="password" class="form-control" id="new_password1"
                                                name="new_password1" placeholder="Contraseña nueva">
                                        </div>
                                        <div class="form-group">
                                            <label for="new_password2">Confirmar nueva contraseña</label>
                                            <input type="password" class="form-control" id="new_password2"
                                                name="new_password2" placeholder="Contraseña nueva (confirmación)">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}